.cart-title{
    font-size: 42px;
    text-align: center;
    padding: 30px 0px 0px;
    font-weight: 500;
    background-color: rgb(255, 255, 255);
}
.cart-navigation-btns{
    background-color: rgb(255, 255, 255);
}
.cart-navigation-btns{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    padding: 0px 20px;
}
.cart-navigation-space{
    padding: 25px 0px 0px;
    display: flex;
    justify-content: center;
}
.navigation-content{
    display: flex;
    gap: 12px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.navigation-count-btn{
    background-color: black;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation-btn-text{
    font-size: 22px;
}
.on-process{
    color: green;
    margin-bottom: 2px solid green;
}
.on-process-bg{
    background-color: green;
}
.off-process{
    opacity: 0.3;
}
.cart-display-container{
    background-color: rgb(255, 255, 255);
    width: 100%;

    display: flex;
    gap: 22px;
}
.cart-display-left{
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 50px 0px 0px;
}
.cart-display-right{
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 50px 0px 0px;
}
.cart-navigation-btns{
    padding: 20px 0px;
}

@media screen and (max-width:900px) and (min-width:0px) {
    .cart-display-container{
        display: flex;
        flex-direction: column;
    }
    .navigation-btn-text{
        font-size: 14px;
    }
    .navigation-count-btn{
        width: 25px;
        height: 25px;
        font-size: 12px;
    }
 
  
   
    .navigation-content{
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        flex-direction: column;
    }
    .cart-navigation-btns {
   
        padding: 0px 0px;
    }

    .cart-item-right{
       justify-content: center;
       align-items: center;
       padding: 0px;
    }
    .price-title-field, .price-field{
        display: none;
    }
    .navbar-offer-text ,.navbar-shopnow-txt{
        font-size: 12px;
    }
   
}