.checkout-page{
    background-color: rgb(226, 222, 217);
    width: 100%;
}
.checkout-page-content{
    background-color: rgb(255, 255, 255);
    display: flex;
    height: 100%;
    width: 100%;
    padding: 40px 0px;
}
.checkout-page-left{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
width: 100%;
    height: 100%;
    gap: 22px;
    
}
.checkout-page-right{
    background-color: rgb(255, 255, 255);
  width: 100%;
    height: 100%;
}
.checkout-btn-space{
    background-color: rgb(255, 255, 255);
    display: flex;
    gap: 12px;
   justify-content: flex-end;
   padding: 10px 16px;
}
.checkout-next-btn{
    padding: 10px;
    width: 100%;
    max-width: 60px;
    cursor: pointer;
    background-color: #377DFF;
    color: white;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkout-prev-btn{
    padding: 10px;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 6px;
}
.overall-total-price{
  background-color: rgb(255, 255, 255);
  padding:32px 19px;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  
}
.disabled{
  opacity: 0.4;
  cursor: not-allowed;
  pointer-events: none;
}
.delivering-to-section{
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 16px;
}
.del-btn-space{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 12px;
}
.delivering-next-btn{
  background-color: rgb(6, 129, 195);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 80px;
  padding: 8px;
  cursor: pointer;
  margin-top: 16px;
}
.add-del-address{
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: rgb(0, 148, 255);
  cursor: pointer;
  line-height: 4px;
  padding: 20px 0px;
}
.add-icon{
  width: 20px;
  height: 20px;
}
.proceed-payment-space{
  padding: 0px 20px 20px 0px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.cart-check-btn{
  width: 100%;
  max-width: 650px;
 

}
.sub-total-price{
  font-size: 22px;
  font-weight: 600;
  text-align: end;
}

@media screen and (max-width:800px) and (min-width:0px) {
  .checkout-page-content{
    display: flex;
    flex-direction: column;
  }
  .checkout-page-left{
    order: 2;
  }
  .proceed-payment-space{
    justify-content: center;
  }
  .cart-check-btn{
    max-width: 320px;
    border-radius: 0px;
  }
}