.settings-page{
    background-color: antiquewhite;
}
.settings-contact-info{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
    padding: 40px 0px;
    width: 100%;
    gap: 22px;
    justify-content: flex-start;
    align-items: flex-start;
}
.setting-btnpage-space{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    padding: 12px;
}
.Settings-Button{
    background-color:#377DFF;
    padding: 10px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}
@media screen and (max-width:800px) and (min-width:0px) {
    .settings-contact-info{
        display: flex;
        flex-direction: column;
    }
    .settings-contact-info {
        padding: 20px 0px 10px;
    }
}