.empty-cart-contaner{
    background-color: rgb(255, 255, 255);
    width: 100%;
 height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.empty-cart-content{
   width: 100%;
   height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
    margin-top: 42px;
}
.empty-cart-title{
    color: black;
    font-size: 42px;
}
.empty-text{
    color: red;
}
.empty-card-img{
width: 100%;
max-width: 600px;
}
.empty-cart-description{
    text-align: center;
}
@media screen and (max-width:450px) and (min-width:0px) {
    .empty-cart-title{
        font-size: 22px;
    }
}