.navbar-container{
    background-color: rgb(203, 194, 211);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.navbar-content{
    width: 100%;
    height: 100%;
    max-width: 1400px;
    background-color: rgb(165, 185, 179);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-offer-content{
    background-color: rgb(194, 218, 218);
   
    width: 100%;
    height: 60px;
    max-width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-content-right{
    margin-left: 16px;
}
.navbar-content-left{
    margin-right: 16px
}