.product-card{
    background-color: rgb(255, 255, 255);
    width: 100%;
    max-width: 325px;
    height: auto;
    display: flex;
    flex-direction: column;
 

   
}
.product-details-container{
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 10px 0px;
    background-color: #ffffff;
   
}
.product-name{
    font-size: 16px;
    font-weight: 600;
}
.product-image-container{
    width: 100%;;
    height:auto;
    position: relative;
    overflow: hidden;
   
}
.product-image{
    width: 100%;
  height: auto;
    background-size: cover;
    background-position: center;
}
.product-name{
    font-size: 18px;
}
.product-price{
    font-size: 24px;
    font-weight: 500;
    color: rgb(0, 0, 0);
}
.product-shop-button{  
    /* background-color: rgb(208, 49, 49); */
    background-color: rgb(39, 161, 232);
    color: white;
    width: 100%;
    max-width: 100px;
    text-align: center;
    padding: 10px;
    font-weight: 600;
   position: absolute;
   bottom: 10px;
   right: 10px;
   cursor: pointer;
}

@media screen and (max-width:600px) and (min-width:0px) {
    .product-card{
        max-width: 170px;
    }
    .product-name{
        font-size: 14px;
    }
    .product-price{
        font-size: 14px;
    }
    .product-shop-button {
        /* background-color: rgb(208, 49, 49); */
        max-width: 90px;
        padding: 6px 4px;
        font-size: 14px;
    }
}